@font-face {
  font-family: NeutraText;
  src: url("../fonts/NeutraText-BookAlt.otf") format("opentype"); }
@font-face {
  font-family: NeutraText;
  src: url("../fonts/NeutraText-DemiAlt.otf") format("opentype");
  font-weight: 600; }
@font-face {
  font-family: NeutraText;
  src: url("../fonts/NeutraText-LightAlt.otf") format("opentype");
  font-weight: 300; }
@font-face {
  font-family: NeutraText;
  src: url("../fonts/NeutraText-BoldAlt.otf") format("opentype");
  font-weight: bold; }
html, body {
  background-color: #000;
  margin: 0 auto;
  font-family: NeutraText;
  height: 100%; }
  html.noscroll, body.noscroll {
    overflow: hidden; }
  html img, body img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none; }

.lightbox {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 9999999;
  display: none;
  overflow-y: scroll; }
  .lightbox .video {
    padding-right: 30px;
    width: 768px;
    margin: 0 auto;
    margin-top: 50px; }
    .lightbox .video p {
      white-space: pre-line;
      color: #fff;
      line-height: 18px; }
  .lightbox .close {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 60px;
    color: #fff;
    cursor: pointer; }

.blocks {
  display: block;
  padding: 10px 0px; }

nav {
  padding: 10px 0;
  background-color: #000;
  color: #fff;
  width: 60.3vw;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999; }
  nav ul.menu {
    display: inline-block;
    height: 30px; }
    nav ul.menu li {
      display: inline-block;
      margin: 0 10px; }
      nav ul.menu li a {
        line-height: 30px;
        color: #fff;
        text-decoration: none; }
  nav ul.social {
    float: right;
    display: inline-block; }
    nav ul.social li {
      margin: 0 5px;
      display: inline-block; }
      nav ul.social li img {
        height: 30px; }

.bg-pegada {
  background: url("../images/pegada-bg.png") #000;
  background-position: 50px 30%;
  background-repeat: no-repeat;
  background-size: 100%; }

#header {
  box-sizing: border-box;
  width: 100%;
  position: relative;
  height: 100vh; }
  #header .blocks {
    background-color: #e5053d; }
    #header .blocks.n1 {
      width: 18vw;
      position: absolute;
      right: 0;
      top: 10vh; }
    #header .blocks.n2 {
      width: 5vw;
      position: absolute;
      left: 13vw;
      top: 37vh; }
    #header .blocks.n3 {
      width: 9.3vw;
      position: absolute;
      right: 15.6vw;
      top: 41.2vh; }
  #header .logo {
    width: 40%;
    display: block;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }

#about {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative; }
  #about .content {
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
    #about .content img {
      width: 40%;
      margin: 0 auto;
      display: block; }
    #about .content .manifest {
      width: 350px;
      margin: 0 auto;
      display: block;
      padding-left: 10px;
      border-left: 3px solid #fff;
      color: #e5053d;
      margin-top: 50px;
      left: 1.5%;
      position: relative; }
      #about .content .manifest h3, #about .content .manifest p {
        margin: 0;
        padding: 0;
        font-size: 16px;
        line-height: 16px; }

#videos {
  background: url("../images/bg-videos.png") #fff;
  box-sizing: border-box;
  background-size: contain;
  background-position: 0px 70px;
  padding: 50px 0;
  min-height: 100vh;
  background-repeat: no-repeat; }
  #videos h1 {
    font-size: 32px;
    line-height: 32px;
    color: #e5053d;
    text-align: center; }
  #videos .videos {
    padding: 0 200px;
    margin-top: 30px; }
    #videos .videos h3 {
      color: #e5053d;
      text-align: center; }
    #videos .videos .video {
      cursor: pointer;
      width: 32.1%;
      display: inline-block;
      margin: 5px;
      box-sizing: border-box;
      position: relative;
      transition: .3s; }
      #videos .videos .video .overlay {
        opacity: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9;
        transition: .3s; }
        #videos .videos .video .overlay p {
          color: #fff;
          text-align: center;
          margin: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateY(-50%) translateX(-50%); }
      #videos .videos .video:hover {
        transition: .3s; }
        #videos .videos .video:hover .overlay {
          opacity: 1;
          transition: .3s; }
      #videos .videos .video img {
        width: 100%; }
    #videos .videos .more {
      width: 33%;
      display: none;
      margin: 0 auto;
      padding: 5px;
      box-sizing: border-box;
      text-align: center; }
      #videos .videos .more a {
        cursor: pointer;
        background-color: #e5053d;
        line-height: 16px;
        font-size: 16px;
        padding: 10px 0px;
        width: 100%;
        display: block;
        color: #fff; }

#contact {
  height: 100vh;
  box-sizing: border-box;
  background: url("../images/contact-bg.png") #e5053d;
  background-position: 50px bottom;
  background-repeat: no-repeat;
  background-size: 80%;
  width: 100%;
  position: relative; }
  #contact .blocks {
    background-color: #000; }
    #contact .blocks.n1 {
      width: 7.8vw;
      position: absolute;
      left: 13vw;
      top: 9.3vh; }
    #contact .blocks.n2 {
      width: 2.6vw;
      position: absolute;
      right: 13vw;
      top: 27.8vh; }
    #contact .blocks.n3 {
      width: 9.4vw;
      position: absolute;
      right: 15.6vw;
      top: 41.7vh; }
  #contact .info {
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
    #contact .info h2 {
      font-size: 20px;
      line-height: 22px;
      font-weight: 400;
      margin: 0;
      color: #000;
      text-transform: uppercase;
      text-align: center; }
    #contact .info h3 {
      font-size: 16px;
      line-height: 18px;
      font-weight: normal;
      margin: 0;
      text-transform: uppercase;
      text-align: center; }
    #contact .info h1 {
      text-align: center;
      font-size: 38px;
      line-height: 40px;
      display: block;
      margin-top: 50px; }
    #contact .info a {
      text-align: center;
      color: #fff;
      display: block;
      text-decoration: none;
      text-transform: uppercase;
      margin: 15px 0; }
    #contact .info ul.social {
      margin-top: 80px;
      background-color: #000;
      position: relative;
      left: 45%;
      width: 200px;
      margin-bottom: 0;
      padding: 15px; }
      #contact .info ul.social .alignment {
        position: absolute;
        top: -8px;
        left: 3px; }
      #contact .info ul.social li {
        display: inline-block;
        margin: 0 5px; }
        #contact .info ul.social li a {
          margin: 0; }
        #contact .info ul.social li img {
          width: 30px; }

@media only screen and (max-width: 1000px) {
  .lightbox .video p {
    height: 500px;
    font-size: 50px;
    line-height: 52px; }

  nav {
    width: 90%;
    margin: 0 auto; }
    nav ul.menu {
      height: 65px; }
      nav ul.menu li a {
        font-size: 30px;
        line-height: 65px; }
    nav ul.social li a img {
      height: 60px; }

  .bg-pegada {
    background-position: 50px 50%;
    background-repeat: no-repeat;
    background-size: 2000px; }

  #header .logo {
    width: 90% !important; }
  #header .blocks.n1 {
    top: 500px; }
  #header .blocks.n2 {
    left: 100px;
    bottom: 500px;
    top: inherit; }
  #header .blocks.n3 {
    right: 300px;
    top: inherit;
    bottom: 350px; }

  #about .content img {
    width: 90% !important; }
  #about .content .manifest {
    margin-top: 250px;
    margin-left: 50px;
    padding-left: 30px;
    width: 90%; }
    #about .content .manifest p, #about .content .manifest h3 {
      font-size: 60px;
      line-height: 62px;
      width: 100%; }

  #videos h1 {
    font-size: 50px; }
  #videos .videos {
    padding: 0 50px; }
    #videos .videos .video {
      width: 47.9%; }
    #videos .videos .more a {
      font-size: 40px;
      line-height: 42px; }

  #contact {
    min-height: 100vh;
    position: relative; }
    #contact .info h2 {
      font-size: 40px;
      line-height: 44px; }
    #contact .info h3 {
      font-size: 32px;
      line-height: 36px; }
    #contact .info h1 {
      font-size: 76px;
      line-height: 80px; }
    #contact .info a {
      font-size: 30px;
      line-height: 34px; }
    #contact .info ul.social {
      width: 250px; }
      #contact .info ul.social li {
        margin: 0 10px; }
        #contact .info ul.social li img {
          width: 60px; } }

/*# sourceMappingURL=style.css.map */
