$pink:  #e5053d;

@font-face {
  font-family: NeutraText;
  src: url("../fonts/NeutraText-BookAlt.otf") format("opentype");
}

@font-face {
  font-family: NeutraText;
  src: url("../fonts/NeutraText-DemiAlt.otf") format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: NeutraText;
  src: url("../fonts/NeutraText-LightAlt.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: NeutraText;
  src: url("../fonts/NeutraText-BoldAlt.otf") format("opentype");
  font-weight: bold;
}

html, body {
  background-color: #000;
  margin: 0 auto;
  font-family: NeutraText;
  height: 100%;

  img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
}


.lightbox {
  height: 100vh;
  width: 100%;
  background-color: rgba(0,0,0,0.8);
  position: fixed;
  z-index: 9999999;
  display: none;

  .video {
    padding-right: 30px;
    position: absolute;
    z-index: 99999999;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    p {
      white-space: pre-line;
      color: #fff;
      line-height: 18px;
      height: 100px;
      overflow-y: scroll;
    }
  }

  .close {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 60px;
    color: #fff;
    cursor: pointer;
  }

}

.blocks {
  display: block;
  padding: 10px 0px;
}
nav {
  padding: 10px 0;
  background-color: #000;
  color: #fff;
  width: 1170px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  z-index: 999;

  ul.menu {
    display: inline-block;
    height: 30px;
    li {
      display: inline-block;
      margin: 0 10px;
      a {
        line-height:30px;
        color: #fff;
        text-decoration: none;
      }
    }
  }

  ul.social {
    float: right;
    display: inline-block;
    li {
      margin: 0 5px;
      display: inline-block;
      img {
        height: 30px;
      }
    }
  }
}

.bg-pegada {
  background: url('../images/pegada-bg.png') #000;
  background-position: 50px 30%;
  background-repeat: no-repeat;
  background-size: 1200px;
}

#header {
  box-sizing: border-box;
  width: 100%;
  position: relative;
  height: 100vh;

  .blocks {
    background-color: $pink;

    &.n1 {
      width: 350px;
      position: absolute;
      right: 0;
      top: 100px;
    }

    &.n2 {
      width: 80px;
      position: absolute;
      left: 250px;
      top: 400px;
    }
    &.n3 {
      width: 180px;
      position: absolute;
      right: 300px;
      top: 450px;
    }

  }


  .logo {
    width: 40%;
    display: block;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

}

#about {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  .content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    img {
      width: 40%;
      margin: 0 auto;
      display: block;
    }

    .manifest {
      width: 400px;
      margin: 0 auto;
      display: block;
      padding-left: 10px;
      border-left: 3px solid #fff;
      color: $pink;
      margin-top: 50px;
      h3, p {
        margin: 0;
        padding: 0;
        font-size: 16px;
        line-height: 16px;
      }
    }
  }
}


#videos {
  background: url("../images/bg-videos.png") #fff;
  box-sizing: border-box;
  background-size: contain;
  background-position: 0px 70px;
  padding: 50px 0;
  min-height: 100vh;
  background-repeat: no-repeat;
  h1 {
    font-size: 32px;
    line-height: 32px;
    color: $pink;
    text-align: center;
  }

  .videos {
    padding: 0 200px;
    margin-top: 30px;
    h3 {
      color: $pink;
      text-align: center;
    }
    .video {
      cursor: pointer;
      width: 32.1%;
      display: inline-block;
      margin: 5px;
      box-sizing: border-box;
      position: relative;
      transition: .3s;
      .overlay {
        opacity: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.8);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9;
        transition: .3s;
        p {
          color: #fff;
          text-align: center;
          margin: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateY(-50%) translateX(-50%);
        }
      }

      &:hover {
        transition: .3s;
        .overlay {
          opacity: 1;
          transition: .3s;
        }
      }
      img {
        width: 100%;
      }
    }

    .more {
      width: 33%;
      display: none;
      margin: 0 auto;
      padding: 5px;
      box-sizing: border-box;
      text-align: center;
      a {
        cursor: pointer;
        background-color: $pink;
        line-height: 16px;
        font-size: 16px;
        padding: 5px 0px;
        width: 100%;
        display: block;
        color: #fff;
      }
    }
  }
}

#contact {
  min-height: 100vh;
  box-sizing: border-box;
  background: url('../images/contact-bg.png') $pink;
  background-position: 50px bottom;
  background-repeat: no-repeat;
  background-size: 900px;
  width: 100%;
  position: relative;
  padding-bottom: 100px;

  .blocks {
    background-color: #000;

    &.n1 {
      width: 150px;
      position: absolute;
      left: 250px;
      top: 100px;
    }

    &.n2 {
      width: 50px;
      position: absolute;
      right: 250px;
      top: 300px;
    }
    &.n3 {
      width: 180px;
      position: absolute;
      right: 300px;
      top: 450px;
    }

  }
  .info {
    padding-top: 150px;
    h2 {
      font-size: 20px;
      line-height: 22px;
      font-weight: 400;
      margin: 0;
      color: #000;
      text-transform: uppercase;
      text-align: center;
    }

    h3 {
      font-size: 16px;
      line-height: 18px;
      font-weight: normal;
      margin: 0;
      text-transform: uppercase;
      text-align: center;
    }

    h1 {
      text-align: center;
      font-size: 38px;
      line-height: 40px;
      display: block;
      margin-top: 50px;
    }

    a {
      text-align: center;
      color: #fff;
      display: block;
      text-decoration: none;
      text-transform: uppercase;
      margin: 15px 0;
    }

    ul.social {
      margin-top: 80px;
      background-color: #000;
      position: relative;
      left: 45%;
      width: 200px;
      margin-bottom: 0;
      padding: 15px;
      .alignment {
        position: absolute;
        top: -8px;
        left: 3px;
      }
      li {
        display: inline-block;
        margin: 0 5px;
        a {
          margin: 0;
        }
        img {
          width: 30px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px){
  .lightbox {
    .video {
      p {
        height: 500px;
        font-size: 50px;
        line-height: 52px;
      }
    }
  }
  nav {
    width: 90%;
    margin: 0 auto;
    ul.menu {
      height: 65px;
      li {
        a {
          font-size: 30px;
          line-height: 65px;
        }
      }
    }

    ul.social {
      li {
        a {
          img {
            height: 50px;
          }
        }
      }
    }
  }


  .bg-pegada {
    background-position: 50px 50%;
    background-repeat: no-repeat;
    background-size: 2000px;

  }

  #header {
    .logo {
      width: 90% !important;
    }

    .blocks {
      &.n1 {
        top: 500px;
      }

      &.n2 {
        left: 100px;
        bottom: 500px;
        top: inherit;
      }

      &.n3 {
        right: 300px;
        top: inherit;
        bottom: 350px;
      }
    }


  }
  #about {
    .content {
      img {
        width: 90% !important;
      }

      .manifest {
        margin-top: 250px;
        margin-left: 50px;
        padding-left: 30px;
        width: 90%;


        p,h3 {
          font-size: 60px;
          line-height: 62px;
          width: 100%;
        }
      }
    }
  }

  #videos {
    .videos {
      padding: 0 50px;
      padding-left: 30px;
      .video {
        width: 47.9%;
      }

      .more {
        a {
          font-size: 40px;
          line-height: 42px;
        }
      }
    }
  }

  #contact {
    min-height: 100vh;
    padding-top: 500px;

    .info {
      ul.social {
        width: 250px;
        li {
          margin: 0 10px;
          img {
            width: 50px;
          }
        }
      }
    }
  }
}

